<header><%= image_tag("usa_today_logo.png")%></header>

<div class = "intro animated slideInRight">
      <h1>Visible Advocates:</h1>
      <p>Meet the people putting a public face on</p>
      <div class="round-button"><div class="round-button-circle"><a href="<%= people_path %>" class="round-button">GO</a></div></div>
      <p class = "large">INVISIBLE <br/> ILLNESS<p>
</div>





<br>
<footer>&copy; Nic, Keith, Biboy & Reena</footer>
