<h1> *****PAGE 2****** </h1>

<h1>WHO HAS AN ILLNESS?</h1>


<% @illnesses.each do |illness| %>

<!-- <%#= image_tag illness.people.first.image_url %> -->

<%= link_to(image_tag(illness.people.first.image_url), illness_path(illness)) %>
<% end %>
