<h1> *****PAGE 1****** </h1>

<h1>Looks can be deceiving.</h1>

<p>Despite the fact that the majority of the US
  population looks rather healthy, statistic show
  a different story.</p><br>

<p>An invinsible illness can be something like
  cancer, lupus, IBD, MS, reheumatoid arthritis,
  or may other conditions</p>

<h3>Nearly 1 in 2 people have an invinsible illness</h3>



<%= link_to("Illnesses", people_path) %>
<br>
<footer>&copy; Nic, Keith, Biboy & Reena</footer>
